$font-family: "Roboto", sans-serif;
$white-color: #ffffff; //default-color
$border-color: #dadada;
$second-border-color: #f3f3f3;
$disabled-color: #aeaeae;
$light-grey: #adadad;
$white-smoke:#fafafa;

$primary-font-color: #212121; //--black-color
$secondary-font-color: #727272; //--grey-color
$grey-color:#727272;

$error-color: #da1e28; //red-color
$warning-color: #f1c21b;
$success-color: #24a148;

$error-light-color: #ffebec; //light-red-bg
$warning-light-color: #fbefc3;
$success-light-color: #d0f4da;

$shadow-color: #000;
$overlay-color: #000000cc;

/*Fonts*/
$font-11: 1.1rem;
$font-12: 1.2rem; //small-font
$font-14: 1.4rem;
$font-16: 1.6rem;
$font-18: 1.8rem;
$font-20: 2rem;
$font-24: 2.4rem;
$font-30: 3rem;
$font-40: 4rem;
